@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	background: conic-gradient(#0000 10%, #03ac0e);
	-webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
	animation: spinner-zp9dbg 1s infinite linear;
}

@keyframes spinner-zp9dbg {
	to {
		transform: rotate(1turn);
	}
}
